*{ 
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-sizing: border-box;
}

body{
  background: #080808;
  color: #fff;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(Images/54AE0ACD-B85F-4F2A-B8C9-5904F719241D.png);
  background-size: cover;
  background-position: center;
}
